---
layout: photoarchive
title: Fajar Nurdiansyah
---

<h1>Photo Archive</h1>
<article>
<p>Photos that I consider are good enough for the internet.</p>
<p>
</p>
</article>
{% for post in site.categories.photos %}

{% if forloop.first %}
<h2>{{ post.date | date: '%Y' }}</h2>
      <div class='archivelist'>
      
    {% else %}
      {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
      {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
      {% if year != nyear %}
	</div>
	<h2>{{ post.date | date: '%Y' }}</h2>
        <div class='archivelist'>        
      {% endif %}
    {% endif %}

        
    <div class="archivephoto shadow240">
        <a href="{{post.url}}" title="{{post.title}}">
            <img src="{{ post.thumbnail }}"></img>
        </a>		 
    </div>		
    
{% endfor %}
