---
layout: default
title: Fajar Nurdiansyah
---

<h1>Links Archive</h1>
<article><p>Links to stuff on the internet that I find interesting. Sometime
I have something to add, most of the time I just want to post the link so I
can easily find them when I need to in the future. Kinda like my public 
bookmarking place.</p></article>
{% for post in site.categories.links %}

    {% if forloop.first %}
      <ul class='archivelist'>
      <h2>{{ post.date | date: '%Y' }}</h2>
    {% else %}
      {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
      {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
      {% if year != nyear %}
        </ul>
        <ul class='archivelist'>
        <h2>{{ post.date | date: '%Y' }}</h2>
      {% endif %}
    {% endif %}

    <li>
    <div class="archivepost">
	    <time class="archivedate" datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date | date: '%d %B' }}</time>
		<h3>{% if post.link %}<a href="{{post.link}}">→</a>{% endif %}<a href="{{post.url}}">{{ post.title }}</a></h3>
			{% if post.intro %}
				<div style="font-size: 80%;">
					{{post.intro}}
				</div>
				{% endif %}
		 
	</div>		
    </li>
{% endfor %}
